@charset "UTF-8";

.t-a-c { text-align: center; }

.m-t-05em { margin-top: 0.5em; }
.m-t-1em { margin-top: 1em; }

.w-50 { width: 50px; }
.w-100 { width: 100px; }

body { background-color:#666/*#f5deb3*/; }

table.border, table.border th, table.border td { border: 1px solid #000; border-collapse: collapse; }



